body { margin:0px; padding:0px 0px; font-family:'Ubuntu',sans-serif; }
.meeting { height: 17px; color: #000; font-size: 180%; float: left; margin: 9px 5px 0px 10px; padding: 8px 0px 0px 5px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
.meeting span{ color:#d6d6d6; text-transform: none; font-size: 85%}
.panel-with-icon { padding-left:22px!important; }
.wrap { width:100%; margin:0px; padding:0px; }
.wrapLoader { width:100%; margin:0; /*height:550px;*/ position:absolute; background-color:transparent; opacity:.95; z-index:1000; display:none; }
.subProperties {display:none;float:right; }
.logo { float:left; margin:5px 10px 0px 10px; padding:0px; }
.topnav { background-color:#F2F2F2; background:-webkit-liear, near-gradient(top,#F7F7F7 0,#F2F2F2 100%); background: -o-linear-gradient(top,#F7F7F7 0,#F2F2F2 100%); background: linear-gradient(to bottom,#F7F7F7 0,#F2F2F2 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient; border-left:1px solid #bcbcbc; border-right:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; position:absolute; top:0px; z-index:999; }
.divider { border-bottom:1px dashed #70967C; width:95%; margin:2px auto!important; }
#stage{  width:100%; height:100%!important; padding:margin:0px 0px 0px 0px }
#south, #center {background-color: #ffffff;background-image: url("/images/brick-wall.png");; overflow:hidden; }
#cc{
   visibility:hidden;
}
#south{
  text-align: center;
}
#file-container a {
   text-decoration:none;
}
#file-container iframe {
   width:100% !important;
   border:0px;
}
#file-container div {
  border:1px solid #d6d6d6;
  margin:2px;
}
#file-progress div {
   border: 1px solid black;
   border-bottom: 0;
   padding: .1em .4em;
}
#file-progress {
   margin: 0 0 0 .4em;
   max-height: 12em;
   overflow: auto;
}
#mainimg{
    position: relative;
    height: auto;
    width: 75%;
}
#file-progress {
   background: #427250;
   width:0px;
   height: 20px
}
#file-list {
   padding: 0px;
}
#file-list li {
  list-style: none;
  font-size: 18px;
}
    
#file-list  li:before {
  content:"·";
  font-size:90px;
  color: #427250;
  vertical-align:middle;
  line-height:20px;
}
#file-list a{
    color: #427250;
    text-decoration: none;
    font-size: 18px;
}
#dd .textbox{
    position: relative;
    top: 80px;
    left:52px;
    width: 80% !important;
    border-radius: 0px !important;
}
.imgLoader{
  visibility:visible;
}
.centered .imgLoader{
    position: absolute;
    top: 50% !important;
    left: 50%;
}
.l-btn span .l-btn-icon-left {
    padding:0px;
    background-position: left center;
}
video{
  border: 0px solid #ccc;
  float:left;
  resize:horizontal;
  overflow:auto;
  width:100%;
}
.centered {
  position: absolute;
  text-align:center;
/*
 *   transform: translate(-50%, -50%);
 *     top: 40%;
 *       left: 50%;
 *       */
  width:100%;
  height:100%;
}
#midheading, #mheading{
  text-align: center;
  color: #777575;
  letter-spacing: 3px;
  position: relative;
  left: 0px;
}
#wait{
    color: #aaa;
    word-wrap: normal;
    width: 250px;
    position: absolute;
    left: -66px;
    font-size: 15px;
}
#owner video{
    position: relative;
    top: -12px;
    left: 2px;
    width: 86px !important;
    height: 49px !important;
    border-radius: 10px !important;
    padding: 0px !important;
    border: 1px solid #aaa;
    margin: 0px !important;
}
#myself b{
    position: relative;
    top: 4px;
    left: 1px;
}
#myself{
   display:none;
}
#myself .l-btn-left, #mute .l-btn-left{
   margin-top:0px !important;
}
#raisedoubt, #muteall, #mute{
  display:none;
}
.window video{
   height:332px !important;
}
#chat-input-box .textbox {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    border: 0px!important;
}
#chatContainer{
  padding:5px;
}
#chatContainer div{
  padding:2px;
}
#chatParent{
   overflow:scroll;
}
#chatParent iframe{
   display:none;
}
